#container-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid #aaa;
    background-color: rgba(255, 255, 255, 0.9);

    header {
        height: 78px;
        display: flex;
        justify-content: space-between;

        .header-section-1 {
            height: 100%;

            a {
                display: flex;
                align-items: center;
                height: 100%;
                text-decoration: none;
                color: #000;

                img {
                    height: 100%;
                }
            }

            p {
                font-weight: 600;
                font-size: 18px;
            }
        }

        .header-section-2 nav li {
            list-style: none;
            display: inline-block;
            cursor: pointer;

            a {
                text-decoration: none;
                line-height: 78px;
                color: #000;
                margin: 0 16px;
                font-size: 18px;
                font-weight: 600;
                opacity: 0.5;
                display: inline-block;
                transition: 0.2s;
            }

            &:nth-child(1) a {
                opacity: 1;
                color: #e28239;
            }

            &:hover a {
                opacity: 1;
            }
        }

        .header-section-3 {
            display: flex;
            align-items: center;

            button {
                border: none;
                padding: 8px;
                margin: 0 4px;
                cursor: pointer;
                font-size: 16px;
            }

            span {
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
}
